@charset 'UTF-8';

.slick-loading .slick-list {
    background: #fff url('../../../../../https@dadbab.info/content/ZGP917AYgknqO8w/img/ajax-loader.gif') center center no-repeat;
}


@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../../../../../https@dadbab.info/content/ZGP917AYgknqO8w/font/slick.eot');
    src: url('../../../../../https@dadbab.info/content/ZGP917AYgknqO8w/font/slick.eot') format('embedded-opentype'),
     url('../../../../../https@dadbab.info/content/ZGP917AYgknqO8w/font/slick.woff') format('woff'), url('../../../../../https@dadbab.info/content/ZGP917AYgknqO8w/font/slick.ttf') format('truetype');
}


.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 111;
}



.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0;
    top: 373px;
    background: url('../../../../../https@dadbab.info/content/ZGP917AYgknqO8w/img/prev.png');
    border: none;
    width: 22px;
    height: 38px;

}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: url("");
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: 44%;
    top: 373px;
    background: url('../../../../../https@dadbab.info/content/ZGP917AYgknqO8w/img/next.png');
    border: none;
    width: 22px;
    height: 38px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: url("");
}

[dir='rtl'] .slick-next:before {
    content: '←';
}


.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 18px;

    display: block;
    left: 264px;
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: left;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 16px;
    height: 10px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size:0;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '•';
    text-align: center;
    background: white;
    color: white;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: #27858a;
    background: #27858a;
}
